extends template/site
block title
    title Home | Static Web Starter Kit
block main
    form
        | Select your favorite Color :
        select#mySelect
            option Red
            option Green
            option Blue
            option White
        input(type="button" value="Count and Output all items")
