extends template/site
block title
    title Home | Static Web Starter Kit
block main
    form
        select#colorSelect
            option Red
            option Green
            option White
            option Black
        input(type="button" value="Select and Remove")
