extends template/site
block title
    title Home | Static Web Starter Kit
block main
    form#form1
        | First name:
        input(type="text" name="fname" value="David")
        br
        | Last name:
        input(type="text" name="lname" value="Beckham")
        br
        input(type="submit" value="Submit")
